[Unit]
Description=30 second timer for the hertz_feed service

[Timer]
Unit=hertz_feed.service
OnUnitActiveSec=60s
OnBootSec=60s

[Install]
WantedBy=default.target
