[Unit]
Description=Hertz price feed script service

[Service]
PIDFile=/home/username/hertz_pricefeed/pid
User=username
WorkingDirectory=/home/username/hertz_pricefeed/
Environment="PATH=/home/username/Hertz/bin/"
ExecStart=python3 /home/username/hertz_pricefeed/hertz-feed.py
